<template>
  <v-dialog
    v-model="showDialog"
    width="500"
    persistent
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        class="my-5 text-none"
        color="green"
        v-bind="attrs"
        v-on="on"
        :disabled="disabled"
        @click="openDialog()"
      >
        Create Game
      </v-btn>
    </template>

    <v-card>
      <v-card-title>Create Game</v-card-title>
      <v-card-subtitle>
        <p>Select the map, the amount of cities you would like to connect and start the game.</p>
      </v-card-subtitle>
      <v-card-text>
        <v-form ref="createForm">
          <v-select :rules="[v => !!v || 'Country is required']" v-model="selectedCountry" :items="allCountries" label="Select map" class="mb-8"></v-select>
          <v-slider
            v-model="city_count"
            track-color="grey"
            :thumb-size="24"
            thumb-label="always"
            :min="minCityCount"
            :max="maxCityCount"
          >
            <template v-slot:prepend>
              <v-icon
                @click="decrementCityCount"
              >
                mdi-minus
              </v-icon>
            </template>
            <template v-slot:append>
              <v-icon
                @click="incrementCityCount"
              >
                mdi-plus
              </v-icon>
            </template>
          </v-slider>
        </v-form>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="red"
          class="text-none"
          @click="showDialog = false"
        >
          Cancel
        </v-btn>
        <v-btn
          color="green"
          class="text-none"
          @click="createGame"
        >
          Create Game
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "CreateGameDialog",
  props: {
    maxCityCount: Number,
    allCountries: Array,
    disabled: Boolean
  },
  data: () => ({
    city_count: 3,
    minCityCount: 3,
    selectedCountry: "",
    showDialog: true
  }),
  methods: {
    createGame() {
      if (!this.$refs.createForm.validate()) return;
      this.showDialog = false;
      this.$emit("createGame", this.city_count, this.selectedCountry);
    },
    openDialog() {
      this.showDialog = true;
      this.city_count = this.minCityCount;
    },
    decrementCityCount() { this.city_count-- },
    incrementCityCount() { this.city_count++ }
  }
}
</script>

<style scoped>

</style>