<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
        md="4"
        lg="4"
      >
        <v-card
          flat
          tile
          outlined
          width="fit-content"
          min-width="60%"
          class="mb-5 d-flex flex-column pa-1"
        >
          <v-card-title>
            TSP
          </v-card-title>
          <v-card-subtitle>
            Project of Jannik and Silas
          </v-card-subtitle>
          <v-card-text class="d-flex flex-column">
            <v-btn
              :disabled="points.length <= 0 || lines.length !== points.length || hasSubTour"
              class="text-none primary"
              :loading="loadingSolution"
              @click="submitWay"
            >
              Submit
            </v-btn>
            <v-btn
              :disabled="points.length <= 0 || lines.length === points.length"
              class="text-none secondary mt-5"
              :loading="loadingSolution"
              @click="getSolution"
            >
              Get solution
            </v-btn>
            <v-divider class="my-3" />
            <span>Current length: {{ routeLength }} km </span>
            <span>Shortest length: {{ shortestLength }} km</span>
            <v-divider class="my-3" />
            <v-switch
              v-model="showSolution"
              :disabled="!shortestPath.length"
              inset
              dense
              :ripple="false"
              label="Show solution"
            />
            <ResetGameDialog @resetGame="reset" />
            <UseOwnCitiesDialog @loadCities="loadCities" :disabled="!selectedCountry" />
            <CreateGameDialog :all-countries="allCountries" :max-city-count="60" @createGame="createGame" />
          </v-card-text>
        </v-card>
      </v-col>
      <v-col
        cols="12"
        md="5"
        class="relative"
        ref="main"
      >
      <v-card outlined flat class="map-card">
        <div v-if="!selectedCountry" class="hint">
          <v-alert type="warning" border="left">Please select a map </v-alert>
        </div>
        <v-stage
          ref="stage"
          :config="configKonva"
          @mousemove="moveLine"
          @wheel="zoomWheel"
        >
          <v-layer ref="image">
            <v-image
              ref="map"
              :config="configImage"
            />
          </v-layer>
          <v-layer
            v-if="configImage.image"
            ref="layer"
          >
            <v-group v-if="!showSolution">
              <v-group
                v-for="(line, index) in lines"
                :key="index"
              >
                <v-line
                  :config="{
                    points: [
                      line.points[0].x,
                      line.points[0].y,
                      line.points[1].x,
                      line.points[1].y
                    ],
                    stroke: 'black',
                    strokeWidth: dotSize / 2
                  }"
                />
                <v-line
                  :config="{
                    points: [
                      line.points[0].x,
                      line.points[0].y,
                      line.points[1].x,
                      line.points[1].y
                    ],
                    stroke: 'transparent',
                    strokeWidth: dotSize * 2
                  }"
                  @click="deleteLine(index)"
                />
              </v-group>
            </v-group>
            <v-line
              v-else
              :config="{
                points: shortestPath,
                stroke: 'lightgreen',
                strokeWidth: dotSize / 1.7,
              }"
            />
            <v-line
              :config="{
                points: activeLine,
                stroke: 'red',
                strokeWidth: dotSize / 2
              }"
            />
            <v-circle
              v-for="point in points"
              :key="point.name"
              :config="{
                fill: point.connectedPoints === 2 ? 'blue' : 'red',
                radius: dotSize,
                ...getPosition(point)
              }"
              class="cityMarker"
              @click="togglePoint($event, point)"
              @mousemove="showTooltip(point.name, $event)"
              @mouseleave="hideTooltip($event)"
            />
            <v-group :config="configTooltip">
              <v-rect :config="configRect" />
              <v-text :config="{
                text: tooltipText,
                fontFamily: 'Calibri',
                padding: 5,
                fill: 'black',
                fontStyle: 'bold',
                fontSize: fontSize
                }" />
            </v-group>
          </v-layer>
        </v-stage>
        <div v-if="selectedCountry" class="reset-container">
          <v-btn class="text-none" @click="resetView()">Reset View</v-btn>
        </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import CreateGameDialog from "./CreateGameDialog";
import Konva from "konva"
import ResetGameDialog from "./ResetGameDialog";
import UseOwnCitiesDialog from "./UseOwnCitiesDialog";

export default {
  name: 'Map',
  components: {ResetGameDialog, CreateGameDialog, UseOwnCitiesDialog },
  data: () => ({
    tooltipText: "",
    configKonva: {
      width: 300,
      height: 700,
      draggable: true,
      offsetX: 0,
      offsetY: 0,
      scaleX: 0.8,
      scaleY: 0.8
    },
    configImage: {
      image: null
    },
    configTooltip: {
      x: 0,
      y: 0,
      opacity: 0,
    },
    configRect: {
      fill: "red",
    },
    lines: [],
    routeLength: 0,
    shortestLength: 0,
    activeLine: [],
    currentPoint: null,
    shortestPath: [],
    showSolution: false,
    isShortestPath: false,
    points: [],
    minLng: 0,
    maxLng: 0,
    maxLat: 0,
    minLat: 0,
    zoomScale: 1.1,
    selectedCountry: "",
    loadingSolution: false,
    allCountries: [],
    pollTimeout: null
  }),
  computed: {
    hasSubTour() {
      const copyLine = this.lines.slice(0);
      const firstLine = copyLine.splice(0, 1);
      return this.getRoute(copyLine, firstLine[0], null).length != this.points.length;
    },
    dotSize() {
      return 5 / this.configKonva.scaleX
    },
    fontSize() {
      return 18 / this.configKonva.scaleX;
    }
  },
  created() {
    axios.get("http://localhost:8000/maps/")
      .then(response => {
        if (response.status === 200)
          this.allCountries = response.data;
      })
  },
  mounted() {
    this.resizeStage();
    this.resetView();
  },
  watch: {
    selectedCountry(newValue) {
      if (newValue) this.lodBackground(newValue);
    }
  },
  methods: {
    lodBackground(country) {
      const image = new window.Image();
      image.src = `http://localhost:8000/maps/${country}/`;
      image.onload = () => {
        this.resetView();
        // set image only when it is loaded
        this.configKonva.offsetX = image.width / 2;
        this.configKonva.offsetY = image.height / 2;
        this.configImage.image = image;
      };

    },
    resizeStage() {
      this.configKonva.width = this.$refs.main.clientWidth;
      this.configKonva.height = this.$refs.main.clientHeight;
    },
    resetView() {
      this.configKonva.scaleX = 0.8;
      this.configKonva.scaleY = 0.8;
      this.$refs.stage.getStage().position({
        x: this.$refs.main.clientWidth / 2,
        y: this.$refs.main.clientWidth / 2
      });
      this.$refs.stage.getStage().batchDraw();
    },
    getCities(city_count) {
      axios.get(`http://localhost:8000/cities/${this.selectedCountry}/`, { params: { city_count: city_count } })
          .then(response => {
            if (response.status === 200 && response.data.cities && response.data.cities.length > 0) {
              this.maxLng = response.data.maxLng;
              this.minLng = response.data.minLng;
              this.maxLat = response.data.maxLat;
              this.minLat = response.data.minLat;
              response.data.cities.forEach(city => this.addPointOnMap(city));
            }
          })
    },
    loadCities(cities) {
      this.points = [];
      this.reset();
      cities.forEach(city => this.addPointOnMap(city));
    },
    createGame(city_count, country) {
      this.selectedCountry = country;
      this.points = [];
      this.reset();
      this.getCities(city_count);
    },
    addPointOnMap(city) {
      city['connectedPoints'] = 0;
      this.points.push(city);
    },
    reset() {
      window.clearTimeout(this.pollTimeout);
      this.loadingSolution = false;
      this.shortestPath = [];
      this.lines = [];
      this.routeLength = 0;
      this.shortestLength = 0;
      this.isShortestPath = false;
      this.showSolution = false;
      this.points.forEach(point => point.connectedPoints = 0);
    },
    getRoute(lines, currentLine, lastCity) {
      if (!currentLine) return [];
      if (lines.length === 0)
        return [currentLine.points.find(point => lastCity !== point.city).city];
      else {
        const newPoint = currentLine.points.find(point => lastCity !== point.city);
        const newLine = lines.find(line => line.points.find(point => point.city.name === newPoint.city.name));
        lines.splice(lines.indexOf(newLine), 1);
        return [newPoint.city].concat(this.getRoute(lines, newLine, newPoint.city));
      }
    },
    getSolution() {
      this.loadingSolution = true;
      axios.post("http://localhost:8000/calculateRoute", this.points).then(response => {
        if (response.status === 200) {
          this.pollResult(response.data.id);
        }
      });
    },
    submitWay() {
      const copyLine = this.lines.slice(0);
      const firstLine = copyLine.splice(0, 1);
      const way = this.getRoute(copyLine, firstLine[0], null);
      if (way.length != this.points.length) return;
      this.loadingSolution = true
      axios.post("http://localhost:8000/calculateRoute", way).then(response => {
        if (response.status === 200) {
          this.pollResult(response.data.id);
        }
      })
    },
    pollResult(id) {
      axios.get(`http://localhost:8000/submissions/${id}`).then(response => {
        if (response.status === 200 && response.data.status === "DONE") {
          this.loadingSolution = false
          if (this.lines.length === this.points.length) 
            this.routeLength = response.data.routeDistance.toFixed(2);
          else
            this.routeLength = 0;
          this.shortestLength = response.data.shortestDistance.toFixed(2);
          this.isShortestPath = response.data.isShortestPath;
          this.shortestPath = [];
          response.data.shortestPath.forEach(point => {
            const pos = this.getPosition(point);
            this.shortestPath.push(pos.x, pos.y);
          });
          if (response.data.isShortestPath || this.lines.length !== this.points.length) this.showSolution = true;
          this.shortestPath.push(this.shortestPath[0], this.shortestPath[1]);
        } else {
          this.pollTimeout = window.setTimeout(() => this.pollResult(id), 1000);
        }
      })
    },
    deleteLine(index) {
      if (this.isShortestPath) return;
      this.lines[index].points[0].city.connectedPoints--;
      this.lines[index].points[1].city.connectedPoints--;
      this.lines.splice(index, 1);
    },
    zoom(delta) {
      this.configKonva.scaleX += delta;
      this.configKonva.scaleY += delta;
    },
    zoomWheel(e) {
      e.evt.preventDefault();
      const oldScale = this.$refs.stage.getStage().scaleX();
      const pointer = this.$refs.stage.getStage().getPointerPosition();

      const mousePointTo = {
        x: (pointer.x - this.$refs.stage.getStage().x()) / oldScale,
        y: (pointer.y - this.$refs.stage.getStage().y()) / oldScale
      };

      const newScale =
        e.evt.deltaY < 0
          ? oldScale * this.zoomScale
          : oldScale / this.zoomScale;


      if (newScale > 2) return; // limit zoom depth

      this.zoom(newScale - oldScale);

      const newPos = {
        x: pointer.x - mousePointTo.x * newScale,
        y: pointer.y - mousePointTo.y * newScale
      };
      this.$refs.stage.getStage().position(newPos);
      this.$refs.stage.getStage().batchDraw();
    },

    getPosition({lat, lng}) {
      const width = this.configImage.image.width;
      const height = this.configImage.image.height;

      const x = width * (lng - this.minLng) / (this.maxLng - this.minLng)
      const y = height * (lat - this.maxLat) / (this.minLat - this.maxLat)
      return {x, y}
    },
    showTooltip(text, e) {
      e.target.getStage().container().style.cursor = "pointer"
      this.configTooltip.x = e.target.attrs.x + 20;
      this.configTooltip.y = e.target.attrs.y;
      this.configTooltip.opacity = 1;
      this.tooltipText = text;
    },
    hideTooltip(e) {
      e.target.getStage().container().style.cursor = "default"
      this.configTooltip.opacity = 0
      this.tooltipText = "";
    },
    togglePoint(e, point) {
      if (point.connectedPoints < 2 && point !== this.currentPoint) {
        const position = e.target.getPosition();
        if (this.activeLine.length === 4) {
          this.lines.push({
            points: [
              {x: this.activeLine[0], y: this.activeLine[1], city: this.currentPoint},
              {x: position.x, y: position.y, city: point}
            ]
          })
          this.currentPoint.connectedPoints++;
          point.connectedPoints++;
        }

        if (this.points.length === this.lines.length || point.connectedPoints === 2) {
          this.activeLine = [];
          this.currentPoint = null;
        } else {
          if (!this.currentPoint) {
            this.activeLine.push(position.x);
            this.activeLine.push(position.y);
            this.activeLine.push(position.x);
            this.activeLine.push(position.y);
          } else {
            this.activeLine[0] = position.x;
            this.activeLine[1] = position.y;
          }
          this.currentPoint = point;
        }
      } else if (point === this.currentPoint) {
        this.activeLine = [];
        this.currentPoint = null;
      }
    },
    getRelativePointerPosition(node) {
      const transform = node.getAbsoluteTransform().copy();
      transform.invert();
      const pos = node.getStage().getPointerPosition();
      return transform.point(pos);

    },
    moveLine() {
      const length = this.activeLine.length;
      if (length > 0 && length % 2 === 0) {
        const position = this.getRelativePointerPosition(this.$refs.stage.getNode());
        this.activeLine[length - 2] = position.x;
        this.activeLine[length - 1] = position.y;
        this.$refs.stage.getStage().draw();
      }

    }
  }
}
</script>

<style scoped>

.hint {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-card {
  overflow: hidden;
}

.reset-container {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.relative {
  position: relative;
}
</style>
