<template>
  <v-dialog
    v-model="showDialog"
    width="500"
    persistent
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        class="my-5 text-none"
        color="red"
        v-bind="attrs"
        v-on="on"
        @click="showDialog = true"
      >
        Reset Game
      </v-btn>
    </template>

    <v-card>
      <v-card-title class="red--text">
        Reset Game
      </v-card-title>
      <v-card-subtitle class="red--text">
        Are you sure you want to reset your game?
      </v-card-subtitle>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="green"
          class="text-none"
          @click="showDialog = false"
        >
          Cancel
        </v-btn>
        <v-btn
          color="red"
          class="text-none"
          @click="resetGame"
        >
          Reset Game
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "ResetGameDialog",
  data: () => ({
    showDialog: false
  }),
  methods: {
    resetGame() {
      this.showDialog = false;
      this.$emit("resetGame");
    }
  }
}
</script>

<style scoped>

</style>