<template>
  <v-dialog
    v-model="showDialog"
    width="800"
    persistent
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        class="my-5 text-none"
        color="cyan"
        v-bind="attrs"
        v-on="on"
        @click="showDialog = true"
        :disabled="disabled"
      >
        Use own cities
      </v-btn>
    </template>

    <v-card>
      <v-card-title>
        Use own cities
      </v-card-title>
      <v-card-subtitle>
        You can set cities on the map by providing a JSON list, that includes elements with lat, lng and name.
      </v-card-subtitle>
      <v-textarea :rules="[v => !!tryParseJSONObject(v) || 'Invalid JSON format']" filled label="Cities JSON" class="ma-3" v-model="citiesString">
      </v-textarea>
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="red"
          class="text-none"
          @click="showDialog = false"
        >
          Cancel
        </v-btn>
        <v-btn
          color="green"
          class="text-none"
          @click="resetGame"
        >
          Set cities
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "UseOwnCitiesDialog",
  props: {
      disabled: Boolean
  },
  data: () => ({
    showDialog: false,
    citiesString: `[
 {"name": "Mainz",         "lat": 49.992863, "lng": 8.247253},
 {"name": "Frankfurt",    "lat": 50.110924, "lng": 8.682127},
 {"name": "Darmstadt",  "lat": 49.872826, "lng": 8.651193},
 {"name": "Wiesbaden", "lat": 50.078217, "lng": 8.239761}
]`,
  }),
  methods: {
    resetGame() {
      const cities = this.tryParseJSONObject(this.citiesString);
      console.log(this.citiesString);
      if (cities) {
        this.showDialog = false;
        this.$emit("loadCities", cities);
      }
    },
    tryParseJSONObject (jsonString){
      try {
        const o = JSON.parse(jsonString);
        if (o && typeof o === "object") {
          return o;
        }
      } catch (e) { }
      return false;
    }
  }
}
</script>

<style scoped>

</style>